@using System.IO.Compression;
@using System.Text.RegularExpressions;
@{
    Response.Cache.SetMaxAge(TimeSpan.FromSeconds(3));
    Response.Cache.AppendCacheExtension("must-revalidate");
    Response.Cache.SetExpires(DateTime.Now.AddMinutes(30));
    Response.Cache.SetCacheability(HttpCacheability.NoCache);
    Response.Cache.SetValidUntilExpires(true);

    Response.Headers.Remove("X-AspNetWebPages-Version");
    Response.Headers.Remove("X-AspNet-Version");
    Response.Headers.Remove("Server");
}<!DOCTYPE html>
<html lang="ko-KR" prefix="og: http://ogp.me/ns#">
    <head lang="ko">
        <title>@Page.Title</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="/dist/style.css" rel="stylesheet" />
        @RenderSection("head", required: false)
    </head>
    <body class="d-flex flex-column h-100">
        @RenderPage("~/layout/_header.cshtml")
        <main role="main" class="flex-shrink-0">
            <div class="container">
                @RenderBody()
            </div>
        </main>
        @RenderPage("~/layout/_footer.cshtml")
        @RenderSection("Scripts", required: false)
    </body>
</html>
